{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}