service: hammertime

provider:
  name: aws
  runtime: nodejs6.10
  memorySize: 128
  stage: ${env:SLICE}
  region: ${env:AWS_REGION}
  deploymentBucket: ${env:DEPLOY_BUCKET}
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "ec2:CreateTags"
        - "ec2:DeleteTags"
        - "ec2:DescribeInstances"
        - "ec2:StartInstances"
        - "ec2:StopInstances"
        - "rds:DescribeDBInstances"
        - "rds:ListTagsForResource"
        - "rds:AddTagsToResource"
        - "rds:RemoveTagsFromResource"
        - "rds:StartDBInstance"
        - "rds:StopDBInstance"
        - "autoscaling:CreateOrUpdateTags"
        - "autoscaling:DeleteTags"
        - "autoscaling:DescribeAutoScalingGroups"
        - "autoscaling:UpdateAutoScalingGroup"
      Resource: "*"
    - Effect: "Allow"
      Action:
        - "logs:CreateLogGroup"
        - "logs:CreateLogStream"
        - "logs:PutLogEvents"
      Resource: "arn:aws:logs:*:*:*"
  environment:
    hammerTimeDryRun: ${file(./isDryRun.js):isDryRun}
  custom:
    enabled: ${file(./isEnabled.js):isEnabled}

functions:
  stop-hammertime:
    handler: hammertime.stop
    timeout: 180
    events:
      - schedule:
          rate: cron(30 9 * * ? *) # ADST 8:30PM, AEST 7:30PM every day
          enabled: ${self:custom:enabled}

  start-hammertime:
    handler: hammertime.start
    timeout: 180
    events:
      - schedule:
          rate: cron(30 19 * * ? *) # ADST 6:30AM, AEST 5:30AM every day
          enabled: ${self:custom:enabled}
